<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hyreos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="../../../styles/main.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<link rel="icon" href="../../../images/icon.jpeg">
  </head>
  <body>
		<div class="section">
			<div class="container" id="main-container">
        <div class="columns">
					<div class="content">
							<strong class="title is-5 is-centered has-text-centered">{{ page.title }}</strong>
							<div class="content post-content column is-size-6-mobile has-text-justified">
									{{ content }}
							</div>
					</div>
				</div>
				<a href="http://hyreos.moe"><< Homepage</a>
			</div>
		</div>
		<footer class="footer dfbg">
			<div class="container">
				<small class="has-text-grey">
					Copyright © 2018 Hyreos
				</small>
			</div>
		</footer>

  </body>
</html>
