<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hyreos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="../../../styles/main.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<link rel="icon" href="https://i.imgur.com/20XWR09.png">
  </head>
  <body>
		<nav id="navMenu" class="navbar" role="navigation" aria-label="main navigation">
			<div class="container">
				<div class="navbar-brand">
				<a class="navbar-item" href="https://hyreos.moe"><i class="fas fa-home fa-lg redEl"></i></a>
				<a class="navbar-item is-hidden-desktop" href="https://github.com/Hyreos"><i class="fab fa-github fa-lg redEl"></i></a>
				</div>
				<div id="navbar-menu-id" class="navbar-menu">
				<div class="navbar-end">
					<a class="navbar-item is-hidden-touch" href="https://www.github.com/Hyreos"><i class="fab fa-github fa-lg redEl"></i></a>
				</div>
				</div>
			</div>
		</nav>
	<div class="container">
		<small id="main-header-home" class="is-size-4 has-text-centered has-text-white">
			{{ page.title }}
		</small>
		<div class="content" id="mp-main-container">
			<small>
					{{ page.date | date_to_string }} 
			</small>
			<div class="content post-content column is-size-6-mobile has-text-justified">
					{{ content }}
			</div>
		</div>
	</div>
</html>
