<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hyreos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link type="text/css" rel="stylesheet" href="../../../styles/main.css">
	<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	<link rel="icon" href="https://i.imgur.com/20XWR09.png">
  </head>
  <body>
			<nav id="main-nav" class="navbar" role="navigation" aria-label="main navigation">
					<div class="container">
						<div class="navbar-menu">
							<a class="navbar-item navitem" href="http://www.hyreos.moe">
								Homepage
							</a>
						</div>
					</div>
						
						</nav>
	<div class="container">
		<small id="main-header-home" class="is-size-4 has-text-centered has-text-white">
			{{ page.title }}
		</small>
		<div class="content" id="mp-main-container">
			<small>
					{{ page.date | date_to_string }} 
			</small>
			<div class="content post-content column is-size-6-mobile has-text-justified">
					{{ content }}
			</div>
		</div>
	</div>
</html>
