#main-container {
	background-color: whitesmoke;
	border-color: #1F2027;
	border-width: 1px;
    border-style: double;
    padding: 2em;
}

body {
	background-color: #1F2027;
}

html {
	background-color: #1F2027;
}

.posts {
	margin-top: 50px;
}


img {
    max-width: 600px;
    max-height: 600px;
}


#header {
	background-image: url("https://i.imgur.com/20XWR09.png");
	background-position: left;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #1F2027;
}

#header:hover {
    background-image: url("https://i.imgur.com/20XWR09.png");
}

a {
    color: #1F2027;
}

.dfbg {
    background-color: #1F2027;
}

#mp-main-container {
    background-color: whitesmoke;
	border-color: #1F2027;
	border-width: 1px;
    border-style: double;
    padding: 2em;
}