#main-container {
	background-color: whitesmoke;
	border-color: black;
	border-width: 1px;
    border-style: double;
    padding: 2em;
}

body {
	background-color: whitesmoke;
}

html {
	background-color: whitesmoke;
}

.posts {
	margin-top: 50px;
}


#header {
	background-image: url("https://cdn.discordapp.com/attachments/285851488625098752/452608880757833729/63669788_p0_master1200.png");
	background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #E30013;
}

.dfbg {
    background-color: whitesmoke;
}