#main-container {
	background-color: whitesmoke;
	border-color: #E30013;
	border-width: 1px;
    border-style: double;
    padding: 2em;
}

body {
	background-color: whitesmoke;
}

html {
	background-color: whitesmoke;
}

.posts {
	margin-top: 50px;
}


img {
    max-width: 600px;
    max-height: 600px;
}


#header {
	background-image: url("https://cdn.discordapp.com/attachments/364181635903520768/455874504699150346/63669788_p1_master1200.png");
	background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #E30013;
}

#header:hover {
    background-image: url("https://media.discordapp.net/attachments/364181635903520768/455874375661518858/63669788_p2_master1200.png?width=1056&height=660");
}

a {
    color: #E30013;
}

.dfbg {
    background-color: whitesmoke;
}

#mp-main-container {
    background-color: whitesmoke;
	border-color: #E30013;
	border-width: 1px;
    border-style: double;
    padding: 2em;
}